:root {
    --backgroundColorButton: #000000;
    --colorBorderModal: #ffffff;
    --backgroundModal: #3f3d3d6b;
}

.MainContainerModal {
    width: 400px;
    height: 250px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ContainerModal {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: var(--backgroundColorButton);
}

button {
    padding: 2px 7px;
    border-radius: 5px;
    border: 2px solid var(--colorBorderModal);
    background-color: var(--backgroundColorButton);
}

.Modal {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Modal h2 {
    font-family: monospace;
}

.ContainerModal button {
    position: absolute;
}