*{
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fefff0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterImage{
  width: 80%;
}

.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color:#fefff0;
  border: 4px solid #000000;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.characterImage{
  border: 4px solid #000000;
  border-radius: 70%;
}

.info{
  text-align: center;
}

.fatherCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}