*{
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #15bac0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  border: 5px solid #000000;
  border-radius: 5%;
  text-align: center;
}

.fatherCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}